:root {
    --bg-color: #202424;
    --text-color: #bcbcc0;
    --secondary-color: #505050;
    --hover-color: #2d2e2d;
}

* {
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    text-align: center;
    background-color: var(--bg-color);
}

h1 {
    padding: 18px;
}

footer {
    padding-top: 70px;
}

#userWhoPlays {
    font-size: 20px;
}

#restartBttn {
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-color);
}

#centerBttn {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

#gameLayout {
    display: grid;
    justify-content: center;
    padding: 40px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}

.cell {
    display: flex;
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 200px;
    height: 200px;
}

.cell:hover {
    background-color: var(--hover-color);
}